@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
    --color-primary: rgb(236, 193, 0);
    --color-primary-light: rgb(231, 201, 66);
    --color-secondary: rgb(132, 0, 255);
    --color-secondary-light: rgb(164, 73, 248);
    --color-background: rgb(0, 3, 7);
}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    background: var(--color-background);
    min-height: 100vh;
    font-family: "Poppins";
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0;
}

#circle1 {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 200px;
    width: 200px;
    background: var(--color-primary);
    filter: blur(140px);
    animation: fade-colours1 50s ease infinite forwards;
}

#circle2 {
    position: fixed;
    top: 300px;
    right: 300px;
    height: 250px;
    width: 250px;
    background: var(--color-secondary);
    filter: blur(130px);
    animation: fade-colours2 30s ease infinite forwards, move-circle2 20s linear infinite;
}

#circle3 {
    position: fixed;
    bottom: 400px;
    left: 300px;
    height: 150px;
    width: 150px;
    background: var(--color-primary-light);
    filter: blur(120px);
    animation: fade-colours3 30s ease infinite forwards;
}

#circle4 {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 200px;
    width: 200px;
    background: var(--color-secondary-light);
    filter: blur(160px);
    animation: fade-colours4 50s ease infinite forwards;
}
    
@keyframes fade-colours1 {
    0% {
        background: var(--color-primary);
    }
    25% {
        background: var(--color-secondary);
    }
    50% {
        background: #00ff00;
    }
    75% {
        background: #e60073;
    }
}

@keyframes fade-colours2 {
    0% {
        background: var(--color-secondary);
    }
    50% {
        opacity: 0.7;
        background: rgb(0, 206, 178);
    }
}

@keyframes fade-colours3 {
    0% {
        background: var(--color-primary-light);
    }
    25% {
        background: var(--color-secondary);
    }
    50% {
        background: #00ff00;
    }
    75% {
        background: #e60073;
    }
}

@keyframes fade-colours4 {
    0% {
        background: var(--color-secondary-light);
    }
    10% {
        background: #6f00ff;
    }
    20% {
        background: #3c00ff;
    }
    30% {
        background: #b800e6;
    }
    40% {
        background: #ee009f;
    }
    50% {
        background: #ee0014;
    }
    60% {
        background: #ff8800;
    }
    70% {
        background: #e5ff00;
    }
    80% {
        background: #5ce600;
    }
    90% {
        background: #00eea7;
    }
}

@keyframes move-circle2 {
    0%, 100% { 
            transform: translateX(0px); 
    }
    50% { 
        transform: translateX(50px); 
    }
}

h1 {
    font-family: 'Roboto Mono', monospace;
    position: absolute;
    top: 25px;
    left: 25px;
    padding: 25px;
    color: #00ff00;
}

a {
    font-size: 20px;
    color: rgb(184, 184, 184);
}

a:hover {
    opacity: 0.5;
    color: var(--color-primary);
}

#form, #recipe-container {
    color: #00ff00;
    position: relative;
    margin-top: 200px;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

#recipe-container {
    position: relative;
    margin-bottom: 50px;
    color: white;
}

p {
    font-size: 20px;
    color: rgb(228, 85, 221);
}

h2 {
    position: relative;    
    font-size: 30px;
    color: var(--color-primary);
    opacity: 0.75;
    top: 170px;
    left: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    text-decoration: underline;
    text-shadow: 0 0 8px var(--color-primary), 0 0 14px #e60073, 0 0 20px #b800e6, 0 0 28px #e60073, 0 0 35px var(--color-primary-light);
}

label {
    position: relative;
    padding: 0px;
    font-size: 20px;
}

#title {
    position: relative;
    text-align: center;
    color: #00ff00;
    padding: 8px;
    font-family: courier new;
    width: 400px;
    height: 40px;
    margin-top: 20px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 50px;
    border: none;
    resize: none;
}

#ingredients, #instructions {
    position: relative;
    width: 400px;
    height: 150px;
    color: #00ff00;
    padding: 8px;
    font-family: courier new;
    margin-top: 20px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 50px;
    border: none;
    resize: none;
}

#time {
    position: relative;
    width: 100px;
    height: 10px;
    color: #00ff00;
    font-family: courier new;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 50px;
    border: none;
    resize: none;
}

textarea:focus {
    outline: none;
    background-color: (0, 0, 0, 0.7);
}

input {
    width: 100px;
    height: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10%;
    outline: none;
    border: none;
}

button {
    color: #00ff00;
    width: 90px;
    height: 30px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.35);
    border: none;
    margin: 10px;
    border-radius: 30px;
}

button:hover {
    color: black;
    background-color: rgba(0, 255, 0, 0.5);
    cursor: pointer;
}

button:active {
    color: black;
    background-color: rgba(0, 255, 0, 0.2);
    cursor: pointer;
}

.addRecipe {
    width: 25vw;
    position: relative;
    left: 20%;
}

#title, #ingredients, #instructions, .recipe {
    width: 16vw;
}

@media (min-width: 500px) {
    body {
        width: 500px;
    }

    .navigation {
        position: fixed;
        width: 200px;
        top: -40px;
        left: 60%;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 15px 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 25px;
        border-radius: 50px;
        opacity: 0;
        animation: fade-nav-in 1s ease 1 forwards;
    }
      
    @keyframes fade-nav-in {
        to {
          transform: translateY(150%) translateX(0);
          opacity: 1;
        }
    }
}

@media (max-width: 1150px) {
    .navigation {
        position: fixed;
        height: 150px;
        width: 50px;
        top: 10%;
        left: 40px;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        border-radius: 50px;
        opacity: 0;
    }
}

.recipe {
    width: 240px;
    height: fit-content;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 40px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    transition: background 0.3s ease, transform 0.2 ease;
}

.recipe:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

#delete-recipes {
    font-size: 16px;
    margin: 10px;
    width: 150px;
    height: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10%;
    outline: none;
    border: none;
}

#delete-recipes:hover {
    color: black;
    background-color: rgba(0, 255, 0, 0.5);
    cursor: pointer;
}

#delete-recipes:active {
    color: black;
    background-color: rgba(0, 255, 0, 0.2);
    cursor: pointer;
}

#about {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 30%;
    left: 30%; 
}

#content {
    margin: 40px;
}

#recipe-button-select {
    color: rgb(33, 236, 219);
    margin-left: 0px;
    margin-top: 20px;
}

#recipe-button-x {
    margin-left: 0px;
    margin-top: 20px;
    width: 50px;
    color: red;
}

#recipe-button-select:hover {
    color: black;
    background-color: rgba(0, 217, 255, 0.5);
}

#recipe-button-x:hover {
    color: black;
    background-color: rgba(200, 0, 0, 0.5);
}

#recipe-button-edit {
    margin-left: 0px;
    margin-top: 20px;
    width: 50px;
}

#recipe-button-done {
    margin-left: 0px;
    margin-top: 20px;
    width: 80px;
}

#detail-container {
    position: fixed;
    left: 20%;
    top: 65%;
}

#detail-view-background {
    position: fixed;
    width: 30%;
    height: 30%;
    background-color: rgba(153, 3, 190, 0.377);
    right: 18vw;
    bottom: 24vh;
    color: white;
    border-radius: 50px;
    box-shadow: -10px -10px 40px 5px rgba(195, 0, 255, 0.349);
}

#detail-view {
    position: fixed;
    width: 30%;
    height: 30%;
    background-color: rgba(20, 131, 122, 0.685);
    right: 14vw;
    bottom: 20vh;
    color: white;
    border-radius: 50px;
    box-shadow: 10px 10px 40px 5px rgba(20, 131, 122);
    height: fit-content;
}

#selected {
    width: 65%;
    height: fit-content;
    margin: 30px;
}

#selected-recipe {
    font-size: 30px;
    position: relative;
    left: -30px;
    top: -60px;
    text-shadow: 0 0 3px white;
}

.time {
    position: absolute;
    right: 0px;
    width: 300px;
}

#p-time {
    margin-left: 80%;
    margin-top: 5%;
    color: white;
}

#p-time-selected {
    color: white;
    position: relative;
    left: 85%;
}

.edit-textarea {
    width: 100%; 
    height: 40px; 
    border-radius: 20px; 
    display: flex; 
    text-align: center; 
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4); 
    outline: none; 
    border: none; 
    color: #00ff00; 
    font-size: 16px;
}
